.cache
data
debug
config/**/litematica*
config/inventoryprofilesnext/**/
config/stack-to-nearby-chests/**/locked-slots*
crash-reports
essential
logs
mods/**/Essential*
mods/**/litematica*
renders
saves
schematics
screenshots
XaeroWaypoints*/
deaths.dat
irisUpdateInfo.json
realms_persistence.json
servers.*
usercache.json