.cache
config/**/litematica*
crash-reports
essential
logs
mods/**/Essential*
mods/**/litematica*
renders
saves
schematics
screenshots
XaeroWaypoints*/
deaths.dat
realms_persistence.json
servers.*
usercache.json