# AutoSwitch Usable Configuration File
# This file defines tool switching targets for the 'use/interact' action (right clicking) on a mob or block. 
# Same format as the Attack Action Config:
# Format is a comma separated list of 'tool selectors', which take the form of 'toolname[;enchantment list]', 
# where toolname is either a ToolGrouping, or a specific item id with same formatting rules as enchantments.  
# Enchant list is optional. If present, it must be separated from the tool by a semicolon (';'). Enchantment list is a
# list of `enchantment id`s separated by `&`, such as 'minecraft!fortune&minecraft!mending'. The list can have infinite
# enchantments. If multiple enchantments are specified, only tools with *all* of the enchantments will be selected. Use
# multiple tool selectors to specify optional enchantments. See toolEnchantmentsStack in autoswitch.cfg. 
# Enchant and item id uses '!' instead of colons. A colon can be used as long as it is on the right of the equal sign.
# Example: minecraft!stick;minecraft!fortune 
# List is ordered and will affect tool selection. 
# You can add target overrides by adding it's id (replacing colon with '\:' or '!') on a new line and adding values to
# the right of 
# the equals sign ('=') as you would normally. Check the boat for an example. 
# Removing the values after the equals sign will disable the switch. In the case of overrides, the line may be removed
# for default behavior.
# If you would like to write config values across multiple lines, end the preceding line with '\', followed by a new
# line. See https://stackoverflow.com/a/8978515
# For further information such as tag selectors, see
# https://github.com/dexman545/Fabric-Autoswitch/wiki/Config-Details

########################################################################################################################
#                           Provided Tool Groupings by AutoSwitch and Mods it Interfaced With                          #
#             Tool groupings are a way to specify multiple tools at once. To match any grouping, use 'any'.            #
#                              sword, trident, shears, pickaxe, shovel, bow, any, hoe, axe                             #
########################################################################################################################

# For 'item use' action, ie right clicking an item into the empty air, such as for a bow.
bow_action = 

# Catch an aquatic creature in a bucket.
# Default Value: minecraft:water_bucket
bucketable_swimmer = minecraft!water_bucket

# Get honeycomb or honey from the hive with shears or a bottle, respectively.
minecraft!bee_nest[honey_level+5] = 

# Get honeycomb or honey from the hive with shears or a bottle, respectively.
minecraft!beehive[honey_level+5] = 

# Milk a cow to get milk.
# Default Value: minecraft:bucket
minecraft!cow = minecraft!bucket

# Using flint & steel on a creeper triggers it to immediately explode.
# Default Value: minecraft:flint_and_steel
minecraft!creeper = minecraft!flint_and_steel

# Milk a goat to get milk.
# Default Value: minecraft:bucket
minecraft!goat = minecraft!bucket

# Heal an iron golem
# Default Value: minecraft:iron_ingot
minecraft!iron_golem = minecraft!iron_ingot

# Milk mooshrooms with a bowl to get suspicious stew, or a bucket to get milk. Shears can turn them into a cow.
# Default Value: minecraft:bowl, minecraft:bucket
minecraft!mooshroom = minecraft!bowl, minecraft!bucket

# Shear a sheep.
# Default Value: minecraft:shears
minecraft!sheep = minecraft!shears

# Overrides
########################################################################################################################
