# AutoSwitch Event Configuration File
# This file defines tool switching targets for events.
# 
# Currently supported events:
#    - Statistics (See https://minecraft.fandom.com/wiki/Statistics#Resource_location)
#        To specify a statistic change event, precede the statistic's ID by 'stat@'.
#        Whenever the statistic is modified, switching will occur.
#        * Note: Using statistics that update every tick will prevent switchback and other features from functioning.
# 
# Same format as the Attack Action Config:
# 
# Format is a comma separated list of 'tool selectors', which take the form of 'toolname[;enchantment list]', 
# where toolname is either a ToolGrouping, or a specific item id with same formatting rules as enchantments.  
# Enchant list is optional. If present, it must be separated from the tool by a semicolon (';'). Enchantment list is a
# list of `enchantment id`s separated by `&`, such as 'minecraft!fortune&minecraft!mending'. The list can have infinite
# enchantments. If multiple enchantments are specified, only tools with *all* of the enchantments will be selected. Use
# multiple tool selectors to specify optional enchantments. See toolEnchantmentsStack in autoswitch.cfg. 
# Enchant and item id uses '!' instead of colons. A colon can be used as long as it is on the right of the equal sign.
# Example: minecraft!stick;minecraft!fortune 
# List is ordered and will affect tool selection. 
# You can add target overrides by adding it's id (replacing colon with '\:' or '!') on a new line and adding values to
# the right of 
# the equals sign ('=') as you would normally. Check the boat for an example. 
# Removing the values after the equals sign will disable the switch. In the case of overrides, the line may be removed
# for default behavior.
# If you would like to write config values across multiple lines, end the preceding line with '\', followed by a new
# line. See https://stackoverflow.com/a/8978515
# For further information such as tag selectors, see
# https://github.com/dexman545/Fabric-Autoswitch/wiki/Config-Details

########################################################################################################################
#                           Provided Tool Groupings by AutoSwitch and Mods it Interfaced With                          #
#             Tool groupings are a way to specify multiple tools at once. To match any grouping, use 'any'.            #
#                              sword, trident, shears, pickaxe, shovel, bow, any, hoe, axe                             #
########################################################################################################################

# Switch when getting on a pig so you are ready to steer it.
# Default Value: minecraft:carrot_on_a_stick
stat@custom!pig_one_cm = minecraft:carrot_on_a_stick

# Have some milk to help you sleep well.
# Default Value: minecraft!milk_bucket
stat@custom!sleep_in_bed = minecraft!milk_bucket

# Switch when getting on a strider so you are ready to steer it.
# Default Value: minecraft:warped_fungus_on_a_stick
stat@custom!strider_one_cm = minecraft:warped_fungus_on_a_stick

# Triggered when a totem of undying is used.
# Default Value: minecraft!totem_of_undying
stat@used!totem_of_undying = minecraft!totem_of_undying
