# AutoSwitch Material Configuration File
# Format is a comma separated list of 'tool selectors', which take the form of 'toolname[;enchantment list]', 
# where toolname is either a ToolGrouping, or a specific item id with same formatting rules as enchantments.  
# Enchant list is optional. If present, it must be separated from the tool by a semicolon (';'). Enchantment list is a
# list of `enchantment id`s separated by `&`, such as 'minecraft!fortune&minecraft!mending'. The list can have infinite
# enchantments. If multiple enchantments are specified, only tools with *all* of the enchantments will be selected. Use
# multiple tool selectors to specify optional enchantments. See toolEnchantmentsStack in autoswitch.cfg. 
# Enchant and item id uses '!' instead of colons. A colon can be used as long as it is on the right of the equal sign.
# Example: minecraft!stick;minecraft!fortune 
# List is ordered and will affect tool selection. 
# You can add target overrides by adding it's id (replacing colon with '\:' or '!') on a new line and adding values to
# the right of 
# the equals sign ('=') as you would normally. Check the boat for an example. 
# Removing the values after the equals sign will disable the switch. In the case of overrides, the line may be removed
# for default behavior.
# If you would like to write config values across multiple lines, end the preceding line with '\', followed by a new
# line. See https://stackoverflow.com/a/8978515
# For further information such as tag selectors, see
# https://github.com/dexman545/Fabric-Autoswitch/wiki/Config-Details

########################################################################################################################
#                           Provided Tool Groupings by AutoSwitch and Mods it Interfaced With                          #
#             Tool groupings are a way to specify multiple tools at once. To match any grouping, use 'any'.            #
#                              sword, trident, shears, pickaxe, shovel, bow, any, hoe, axe                             #
########################################################################################################################

# An EntityGroup for guardians, turtles, fish, squids, dolphins, and the like.
# Default Value: trident;minecraft:impaling, any;minecraft:sharpness, sword;minecraft:mending, axe;minecraft:mending, sword, axe
aquaticEntity = trident;minecraft!impaling, any;minecraft!sharpness, sword;minecraft!mending, axe;minecraft!mending, sword, axe

# An EntityGroup for spiders, bees, silverfish, and the like.
# Default Value: any;minecraft:bane_of_arthropods, any;minecraft:sharpness, sword;minecraft:mending, axe;minecraft:mending, sword, axe
arthropod = any;minecraft!bane_of_arthropods, any;minecraft!sharpness, sword;minecraft!mending, axe;minecraft!mending, sword, axe

# A tag for blocks broken more quickly by shears.
# Default Value: shears;minecraft:efficiency, shears;minecraft:mending, shears
block@autoswitch!shears_efficient = shears;minecraft!efficiency, shears;minecraft!mending, shears

# A tag for blocks broken more quickly by a sword.
# Default Value: sword;minecraft:mending, sword
block@autoswitch!sword_efficient = sword;minecraft!mending, sword

# A tag for glass.
# Default Value: any;minecraft:silk_touch
block@c!glass_blocks = any;minecraft!silk_touch

# A tag for ice.
# Default Value: pickaxe;minecraft:silk_touch, pickaxe;minecraft:efficiency, pickaxe
block@minecraft!ice = pickaxe;minecraft!silk_touch, pickaxe;minecraft!efficiency, pickaxe

# A tag for blocks broken more quickly by a sword.
# Default Value: axe;minecraft:efficiency, axe;minecraft:mending, axe
block@minecraft!mineable/axe = axe;minecraft!efficiency, axe;minecraft!mending, axe

# A tag for blocks broken more quickly by a sword.
# Default Value: hoe;minecraft:silk_touch, hoe;minecraft:efficiency, hoe;minecraft:mending, hoe
block@minecraft!mineable/hoe = hoe;minecraft!silk_touch, hoe;minecraft!efficiency, hoe;minecraft!mending, hoe

# A tag for blocks broken more quickly by a sword.
# Default Value: pickaxe;minecraft:mending, pickaxe;minecraft:efficiency, pickaxe
block@minecraft!mineable/pickaxe = pickaxe;minecraft!mending, pickaxe;minecraft!efficiency, pickaxe

# A tag for blocks broken more quickly by a sword.
# Default Value: shovel;minecraft:efficiency, shovel;minecraft:mending, shovel
block@minecraft!mineable/shovel = shovel;minecraft!efficiency, shovel;minecraft!mending, shovel

# An Entity, specifically boats. This is here so that an axe will be used to break it so that any mobs in the boat
# aren't accidentally hit.
# Default Value: axe;minecraft:mending, sword;minecraft:mending, axe, sword
boats = axe;minecraft!mending, sword;minecraft!mending, axe, sword

# An EntityGroup for mobs that were not assigned a different one, such as pigs.
# Default Value: any;minecraft:sharpness, sword;minecraft:mending, axe;minecraft:mending, sword, axe
defaultEntity = any;minecraft!sharpness, sword;minecraft!mending, axe;minecraft!mending, sword, axe

# The Ender Dragon
# Default Value: any;minecraft:sharpness, sword;minecraft:mending, axe;minecraft:mending, sword, axe
ender_dragon = any;minecraft!sharpness, sword;minecraft!mending, axe;minecraft!mending, sword, axe

# An EntityGroup for evokers, pillagers, illagers, vindicators, illusioners, and the like.
# Default Value: any;minecraft:sharpness, sword;minecraft:mending, axe;minecraft:mending, sword, axe
illager = any;minecraft!sharpness, sword;minecraft!mending, axe;minecraft!mending, sword, axe

# All minecarts. This is here so that an axe will be used to break it so that any mobs in the minecart aren't
# accidentally hit.
# Default Value: axe;minecraft:mending, sword;minecraft:mending, axe, sword
minecart = axe;minecraft!mending, sword;minecraft!mending, axe, sword

# A default-provided override for ender chests to prefer silk touch.
# Default Value: pickaxe;minecraft:silk_touch, pickaxe;minecraft:mending, pickaxe;minecraft:efficiency, pickaxe
minecraft!ender_chest = pickaxe;minecraft!silk_touch, pickaxe;minecraft!mending, pickaxe;minecraft!efficiency, pickaxe

# A default-provided override for players.
# Default Value: any;minecraft:sharpness, sword;minecraft:mending, axe;minecraft:mending, sword,axe
minecraft!player = any;minecraft!sharpness, sword;minecraft!mending, axe;minecraft!mending, sword,axe

# A default-provided override for sugar cane so that tools are not used.
minecraft!sugar_cane = 

# An EntityGroup for mobs that take extra damage from smite, such as zombies, withers, and zoglins
# Default Value: any;minecraft:smite, any;minecraft:sharpness, sword;minecraft:mending, axe;minecraft:mending, sword,axe
undead = any;minecraft!smite, any;minecraft!sharpness, sword;minecraft!mending, axe;minecraft!mending, sword,axe

# Overrides
########################################################################################################################
